<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ismaranif Kitchen</title>
</head>
<body>
    <a href="#content" class="skip-link">Skip to content </a>
    <div class="menu-mob">
        <div class="icon-menu" id="menu"><a href="#">&#9776;</a></div>
        <div class="merk-mob">Ismarani Kitchen</div>
        <div class="merk-mob">&nbsp;</div>
    </div>
</div>
<nav id="drawer" class="nav-mob">
    <ul class="navlist-mob">
        <li class="navitems-mob"><a href="">Home</a></li>
        <li class="navitems-mob"><a href="#">Favorite</a></li>
        <li class="navitems-mob"><a target="_blank" href="https://www.linkedin.com/in/fadhilah-ismarani-a4a440267/">About Us</a></li>
    </ul>
</nav>
    <nav class="nav">
        <a class="merk"><h2>Ismaranif Kitchen<h2></h2></a>
        <ul class="nav-list">
            <li class="nav-items"><a href="">Home</a></li>
            <li class="nav-items"><a href="#">Favorite</a></li>
            <li class="nav-items"><a target="_blank" href="https://www.linkedin.com/in/fadhilah-ismarani-a4a440267/">About Us</a></li>
        </ul>
    </nav>
    
    <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/heros/hero-image_2.jpg');">
        <div class="heroinner">
            <h1 class="hero-title">Ismaranif Kitchen </h1>
            <p class="hero-desc">This website provides a list of all the best restaurants in Indonesia.</p>
        </div>
    </div>
        <main id="content">
        <section class="content">
            <div class="latest">
                <h1><u>Best Restaurant</u></h1>
                <div class="list" id="tes"></div>
            </div>
        </section>
    </main>
    
    <footer>
        <p>Copyright © 2023 - Ismaranif Kitchen by <a target="_blank" href="https://www.instagram.com/fadhilahgi_/">Fadhilah Ismarani</a></p>
    </footer>
</body>
</html>